<h1>Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Paid until</th>
      <th>Plan</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td>
          <%= l(subscription.paid_until, format: :long) if subscription.paid? %>
        </td>
        <td><%= subscription.plan %></td>
        <td><%= link_to 'View', subscription %></td>
      </tr>
    <% end %>
  </tbody>
</table>
