<!DOCTYPE html>
<html>
<head>
  <title>PaypalSubscriptions</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
